
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 20px;
    font-family: "Montserrat";
}
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
}
.container{
    display: flex;
    margin-left: 180px;
    justify-content: center;
    max-width: 1180px;
}
.grid-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 140px;
    justify-items: center;
}
.card{
    color: #2E363E;
    background-color: #F2F6FA;
}
.card h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    margin: 30px;
}
.card p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 150%;
    width: 240px;
    height: 48px;
    margin: 30px;
}
.card button{
    display: flex;
    background-color: #FED84C;
    color: #2E363E;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border: none;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
}
.price{
    color: #434B53;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    width: 108px;
    height: 36px;
    margin-left: 30px;
}